.button {
  cursor: pointer;

  position: absolute;
  top: 14%;
  right: 12px;

  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
  outline: 0;

  &:focus-visible {
    outline: 1px solid var(--color-info-700);
  }

  &.search {
    cursor: auto;
    right: auto;
    left: 12px;
  }
}
