@import '@/styles/form-container-mixin';

.newPassword {
  @include form-container;

  padding: 33px 36px 60px;
}

.title {
  margin-bottom: 55px;
  text-align: center;
  white-space: nowrap;
}

.input {
  margin-bottom: 20px;
}

.description {
  margin-bottom: 41px;
  color: var(--color-light-900);
}
