@import '@/styles/form-container-mixin';

.card {
  @include form-container;

  padding: 33px 36px 25px;
}

.notice {
  display: block;
  margin-bottom: 65px;
  color: var(--color-light-900);
}

.title {
  margin-bottom: 51px;
  text-align: center;
}

.input {
  margin-bottom: 19px;
}

.send {
  margin-bottom: 20px;
}

.remember {
  display: block;

  width: max-content;
  margin: 0 auto 7px;

  color: var(--color-light-900);
  text-align: center;
  text-decoration: none;
}

.forgot {
  cursor: pointer;

  display: block;

  width: max-content;
  margin-bottom: 60px;
  margin-left: auto;

  text-align: right;
}

.tryLogin {
  cursor: pointer;

  display: block;

  width: max-content;
  margin: 0 auto;

  color: var(--color-accent-500);
  text-decoration: underline;
}
