.button {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-width: 16px;
  height: 24px;

  background-color: transparent;
  border: none;

  &:focus-visible {
    outline: none;
  }

  svg {
    fill: currentcolor;
  }

  &.prev {
    svg {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    pointer-events: none;

    svg {
      fill: var(--color-dark-100);
    }
  }
}
