.tab {
  padding: 6px 24px;

  background-color: inherit;
  border-color: var(--color-dark-300);
  border-style: solid;
  border-width: 1px 1px 1px 0;

  &:first-child {
    border-left-width: 1px;
    border-radius: 2px 0 0 2px;
  }

  &:last-child {
    border-radius: 0 2px 2px 0;
  }

  &[data-state='active'] {
    background-color: var(--color-accent-500);
    border-color: var(--color-accent-500);
  }

  &[data-state='inactive']:not([data-disabled]):hover {
    cursor: pointer;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
    border-color: var(--color-dark-100);
  }

  &[data-disabled] {
    color: var(--color-dark-300);
    background-color: var(--color-dark-700);
  }
}
