.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-light-100);
  text-align: center;
  letter-spacing: 0;

  border-radius: 4px;

  svg {
    fill: currentcolor;
  }

  &.disabled {
    pointer-events: none;
    cursor: auto;

    &:focus-visible {
      outline: none;
    }
  }

  &:focus {
    outline: 2px solid #2f68cc;
  }
}

.primary {
  background-color: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:focus {
    background-color: var(--color-accent-500);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &.disabled {
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);
  box-shadow: 0 4px 18px 0 rgb(77 86 96 / 13%);

  &:focus {
    background-color: var(--color-dark-300);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &.disabled {
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
}
