.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}

.field {
  position: relative;
}

.input {
  width: 100%;
  padding: 7px 12px;

  font-size: var(--font-size-m);
  color: var(--color-dark-100);

  background-color: var(--color-dark-900);
  border: none;
  border-radius: 2px;
  outline: 1px solid var(--color-dark-300);

  &.search {
    padding: 6px 46px 6px 42px;
  }

  &.password {
    padding: 6px 46px 6px 12px;
  }

  &:hover {
    background-color: var(--color-dark-700);
    outline: 1px solid var(--color-dark-100);
  }

  &:active {
    color: var(--color-light-100);
    outline: 1px solid var(--color-light-100);
  }

  &:focus {
    outline: 1px solid var(--color-info-700);
  }

  &:disabled {
    &::placeholder {
      color: var(--color-dark-300);
    }

    &:hover,
    &:active {
      color: var(--color-dark-300);
      background-color: var(--color-dark-900);
      outline: 1px solid var(--color-dark-300);
    }
  }

  &.error {
    color: var(--color-danger-300);
    outline: 1px solid var(--color-danger-300);
  }
}

.errorText {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
  color: var(--color-danger-300);
}
